<!DOCTYPE html>
<html>

  <style type="text/css"> 
  
  fieldset {
    border: 2px solid #27a4c7;
    border-radius: 10px;
    background-color: rgba(5,58,89,0.6);
    color:white;
    width: 500px;
  }

  input {
    border: 30px #33ccff;
    border-radius: 5px;
    background-color: #27a4c7;
    width: 85px;
    height: 26px;
    color: #dcedff;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .switch {
	  position: relative;
	  display: inline-block;
	  width: 52px;
	  height: 26px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(5,58,89,0.6);
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 20px;
	  width: 20px;
	  left: 3px;
	  bottom: 3px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #27a4c7;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 26px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
	.button {
	  border: 0px solid #24a4c7;
    background: #27a4c7;
    background: -webkit-gradient(linear, left top, left bottom, from(#27a4c7),
      to(#27a4c7));
    background: -webkit-linear-gradient(top, #27a4c7, #27a4c7);
    background: -moz-linear-gradient(top, #27a4c7, #27a4c7);
    background: -ms-linear-gradient(top, #27a4c7, #27a4c7);
    background: -o-linear-gradient(top, #27a4c7, #27a4c7);
    background-image: -ms-linear-gradient(top, #27a4c7 0%, #27a4c7 100%);
    padding: 2px 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset
      rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4)
      0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px
      0;
    text-shadow: #27a4c7 0 1px 0;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px; 
	}
  </style>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>

    Welcome to the Super Time Validator. You can use this tool to check whether a certain time
    uses the valid format.
    <br>
    <br>
    <h2>Format Guidelines:</h2>
    <b>Without Seconds:</b> HH:MM | Example: <i>09:42</i>
    <br>
    <b>With Seconds:</b> HH:MM:SS | Example: <i>09:42:24</i>
    <br>
    <br>
    <b>12 Hour:</b> HH:MM:SS AM/PM or HH:MM AM/PM  <i>(HH is in [00, 12])</i>| Examples: <i>09:42:24
      AM, 09:42 PM</i>
    <br>
    <b>24 Hour:</b> HH:MM:SS or HH:MM <i>(HH is in [00, 23])</i>| Examples: <i>21:42:24, 17:32</i>
    <br>
    <br>

    <fieldset>
      <h3><strong>Super Time Validator</strong></h3>
	    Include seconds?
	    <label class="switch">
		    <input type="checkbox" id="inputSeconds">
		    <div class="slider round"></div>
        </label>
      <br>
      <br>
	    24 Hour format?
	    <label class="switch">
		    <input type="checkbox" id="input24Hour">
		    <div class="slider round"></div>
        </label>
      <br>
      <br>
	    Input Time:
	    <input type="text" name="time" value="" id="inputTime">
	    <button class="button" id="validateButton">Validate</button>
      <br>
      <strong><p id="resultDisplay"></p></strong>
    </fieldset>
      
  </body>
  <script src="/hw2/hw2.js"></script>
  <script>
    // add event listener to validate button
    
    document.getElementById("validateButton").addEventListener("click", validate);
/*
  Function Name: validate
  Group: dev

  Function Description: validates the user inputted string against selected time format.
  If valid, changes text to indicate to user the result of validation. Calls the backend
  'isValidTime' function.

  Function Paramter:
  NONE- parameters passed to 'isValidTime' function is grabbed from text box and check boxes.

  Return:
  NONE- just changes HTML text
*/
    function validate() {
        console.log("clicked");
        // get input time and input if user wants seconds to be displayed
        var strInputTime = document.getElementById("inputTime").value;
        var boolInputSeconds = document.getElementById("inputSeconds").checked;
        var boolInput24Hour = document.getElementById("input24Hour").checked;
        console.log(strInputTime);
        // validate the time by calling backend function
        var boolValidTime = isValidTime(strInputTime, boolInputSeconds, boolInput24Hour);
        // if valid time, change text to notify user
        if (boolValidTime == true) {
          document.getElementById("resultDisplay").innerHTML = "Result: Valid time format!";
        }
        // otherwise, invalid time, change text to notify user
        else {
            document.getElementById("resultDisplay").innerHTML = "Result: Invalid time format!";
        }
    }
  </script>
</html>
